.item-page {
  display: flex;

  background-color: rgba(255, 255, 255, 0.671);
}
.i-image {
  /* display: flex; */
  /* float: left; */
  flex: 1;
  /* justify-content: space-around;
  align-items: center; */
}
.i-content {
  /* display: flex; */
  flex: 2.5;
  justify-content: space-around;
  align-items: center;
  margin-right: 100px;
  margin-top: 100px;
  font-size: large;
}
